<% provide(:title, 'All Users') %>
<h1>全てのユーザー</h1>

<div>
  <%= form_with url: search_users_path, model: User.new, method: :get, local: true do |f| %>
    <%= submit_tag '検索', name: nil, class: "btn btn-primary btn-search" %>
    <%= f.text_field :name, placeholeder: "キーワードを入力", class: "form-control user-search" %>
  <% end %>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">

    <% @users.each do |user| %>
      <tr>
        <td>
            <%= link_to user.name, user %> |
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user) %> |
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->