<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザ検索結果</h1>

<div>
  <%= form_with url: search_users_path, model: User.new, method: :get, local: true do |f| %>
    <%= submit_tag '検索', name: nil, class: "btn btn-primary btn-search" %>
    <%= f.text_field :name, placeholeder: "キーワードを入力", class: "form-control user-search" %>
  <% end %>
</div>





<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @user %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @user.each do |user| %>
      <%= form_with(model: user, local: true, url: user_path(user.id), method: :patch) do |f| %>
        <tr>
          <td>
            <%= user.name %><br>
            <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary btn-sm" %><br>
              
            <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" 
              data-target="#2" aria-expanded="true">編集</button>
              
            <div id="2" class="collapse" aria-expanded="true">
              
              <%= render 'form', f: f %>
              
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate @user %>
</div>
